<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Sports Event Management System</title>
	
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
		
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Sports Event Management System</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				<li sec:authentication="principal.username" style="color: ghostwhite; margin: 15px;"> User </li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br><br>

<h1 style="text-align:center;">TimeTable</h1>

<!-- <input type="datetime-local" th:field="*{time}"/>
 -->
 
	<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Match</th>
					<th>Date And Time</th>
					<th>Venue</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tt : ${timeTableObjectArray}">
					<td th:text="${tt.team1 + ' vs ' + tt.team2}"></td>
					<td th:text="${tt.matchDate + ' at ' + tt.time}"></td>
					<td th:text="${tt.venue}"></td>
					<td th:text="${tt.result}"></td>
				</tr>
			</tbody>
	</table>
 
</body>
</html>